body {
    font-family: Arial, sans-serif;
    color:white;
    background: #f4f8fb;
    color: #333;
    margin: 0;
    padding: 1rem;
    background-image: url('medical-equipment-with-copy-space.jpg');
      background-repeat: repeat-x;            /* repeat horizontally */
      background-position: 0 0;               /* start position */
      background-size: auto 100%;
      z-index: -1;             /* scale height to full viewport */
      animation: slideBg 30s linear infinite;
    }
    @keyframes slideBg {
        from { background-position:    0    0; }
        to   { background-position: -1920px 0; }
      }
  nav {
    height:120px;
    text-align: center;
    background:rgb(80,188,213);
    color:white;
    padding: 1rem;
    border-radius: 10px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    }
    nav img{
        height: 110px;
        margin-right: 25rem;
    } 
    
    nav ul{
        display:flex;
        justify-content:space-evenly;
        list-style-type: none;
    }
    
    nav ul a{
        text-decoration:none;
        color:white;
        font-size:larger;
        font-weight: bold;
        transition: font-size 0.3s ease;
    }

    nav ul a:hover{
        font-size: 1.3rem;
    }
    ul {
    list-style: none;
    padding: 0;
    }
    
    li {
    margin: 0.5rem 0;
    padding: 3rem;
    border-radius: 5px;
    color:white;
    }

    main{
        padding:3rem 20rem 5rem 32rem;
    }
  /* Contact form styling */
  .contact-container {
    background-color:rgb(209,226,234);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }

  .contact-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background-color: #f2f2f2;
    font-size: 16px;
  }
  
  .contact-form button {
    width: 100%;
    padding: 12px;
    background-color: darkgray;
    color:black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {    
    background-color:gray;
    color: white;
  }

  footer {
    background: rgb(80,188,213);
    color:white;
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    font-weight: bold;
  }