body {
font-family: Arial, sans-serif;
color:white;
background: #f4f8fb;
color: #333;
margin: 0;
padding: 1rem;
}
nav {
height:120px;
text-align: center;
background:rgb(80,188,213);
color:white;
padding: 1rem;
border-radius: 10px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
}
nav img{
    height: 110px;
    margin-right: 25rem;
} 

nav ul{
    display:flex;
    justify-content:space-evenly;
    list-style-type: none;
}

nav ul a{
    text-decoration:none;
    color:white;
    font-size:larger;
    font-weight: bold;
    transition: font-size 0.3s ease;
}
nav ul a:hover{
    font-size: 1.3rem;
}
main {
max-width: 600px;
margin: 2rem auto;
background: rgb(80,188,213);
padding: 2rem;
border-radius: 10px;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}


form label {
display: block;
margin: 1rem 0;
}

input, select, button {
padding: 0.5rem;
margin-top: 0.5rem;
width: 100%;
box-sizing: border-box;
}

ul {
list-style: none;
padding: 0;
}

li {
margin: 0.5rem 0;
padding: 3rem;
border-radius: 5px;
color:white;
}

footer {
    background: rgb(80,188,213);
    color:white;
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    font-weight: bold;
  }